<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/template :: head" />

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul th:replace="layout/template :: sidebar" />
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav th:replace="layout/template :: topbar" />
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-flex mb-4">
                        <h1 class="h3 text-gray-800" th:text="#{workout}"></h1>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <h5 th:text="#{update}"></h5>
                                </div>
                                <div class="card-body table-responsive">
                                    <form th:action="@{/workout}" method="POST" th:object="${workout}" id="form"
                                        class="needs-validation" novalidate>
                                        <input type="hidden" id="idWorkout" name="idWorkout" th:field="*{idWorkout}"
                                            th:value="*{idWorkout}" />
                                        <input type="hidden" name="coach" th:field="*{coach}" th:value="*{coach}" />
                                        <input type="hidden" name="date" th:field="*{date}" th:value="*{date}">
                                        <input type="hidden" name="workoutExerciseJson" id="workoutExerciseJson" />
                                        <input type="hidden" name="athleteJson" id="athleteJson" />
                                        <input type="hidden" name="traininglevelJson" id="traininglevelJson" />
                                        <div class='row'>
                                            <div class='col'>
                                                <div class="form-group">
                                                    <label for="idWorkout" th:text="#{key}"></label>
                                                    <input type="number" class="form-control" th:value="*{idWorkout}"
                                                        required disabled />
                                                    <div class="valid-feedback" th:text="#{valid}"></div>
                                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('idWorkout')}" th:errors="*{idWorkout}" th:text="#{invalid}"></div>
                                                        </div>
                                                    </div>
                                                    <div class='col'>
                                                        <div class="form-group">
                                                            <label for="description" th:text="#{description}"></label>
                                                            <input type="text" class="form-control" id="description" name="description" th:field="*{description}" th:value="*{description}" required/>
                                                            <div class="valid-feedback" th:text="#{valid}"></div>
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:text="#{invalid}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" th:if="${coachList}">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label th:text="#{coach}"></label>
                                                            <select class="form-control" name="idCoach" id="idCoach" th:field="*{coach.idCoach}" required/>
                                                            <option th:each="item : ${coachList}" th:value="${item.idCoach}" th:text="${item.user.person.name} + ' ' + ${item.user.person.name}"></option>
                                                            </select>
                                                            <div class="valid-feedback" th:text="#{valid}"></div>
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('coach.idCoach')}" th:errors="*{coach.idCoach}" th:text="#{invalid}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <section class="mt-4 mb-4 border-1" th:if="${exerciseList}">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label th:text="#{exercise}"></label>
                                                                <select class="form-control" name="exercise" id="selectExercise" required/>
                                                                    <option th:each="item : ${exerciseList}" th:value="${item.idExercise}" th:text="${item.description}" ></option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 mt-4">
                                                            <button type="button" class="btn btn-primary" id="btnExercise" onclick="addExercise();" th:text="#{add}"></button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <table class="table table-bordered" style="width:100%" id="tableExercise">
                                                                <thead class="thead-dark">
                                                                    <tr>
                                                                        <th th:text="#{key}"></th>
                                                                        <th th:text="#{description}"></th>
                                                                        <th th:text="#{exercisemode}"></th>
                                                                        <th th:text="#{series}"></th>
                                                                        <th th:text="#{value}"></th>
                                                                        <th th:text="#{timeunit}"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section class="mt-4 mb-4 border-1" th:if="${athleteList}">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label th:text="#{athlete}"></label>
                                                                <select class="form-control" name="athlete" id="selectAthlete">
                                                                    <option th:each="item : ${athleteList}" th:value="${item.idAthlete}" th:text="${item.user.person.name} + ' ' + ${item.user.person.lastname}" ></option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 mt-4">
                                                            <button type="button" class="btn btn-primary" id="btnAthlete" onclick="add('selectAthlete', 'tableAthlete');" th:text="#{add}"></button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <table class="table table-bordered" style="width:100%" id="tableAthlete">
                                                                <thead class="thead-dark">
                                                                    <tr>
                                                                        <th th:text="#{key}"></th>
                                                                        <th th:text="#{athlete}"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section class="mt-4 mb-4 border-1" th:if="${traininglevelList}">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label th:text="#{traininglevel}"></label>
                                                                <select class="form-control" name="selectTraininglevel" id="selectTraininglevel">
                                                                    <option th:each="item : ${traininglevelList}" th:value="${item.idTrainingLevel}" th:text="${item.description}" ></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 mt-4">
                                                            <button type="button" class="btn btn-primary" id="btnTraininglevel" onclick="add('selectTraininglevel', 'tableTraininglevel');" th:text="#{add}"></button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <table class="table table-bordered" style="width:100%" id="tableTraininglevel">
                                                                <thead class="thead-dark">
                                                                    <tr>
                                                                        <th th:text="#{key}"></th>
                                                                        <th th:text="#{traininglevel}"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </section>
                                                <button type="submit" class="btn btn-primary" th:text="#{send}"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </div>
            </div>
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a th:replace="layout/template :: scroll-top"/>
        <div th:replace="layout/template :: scripts"/>
        <script th:inline="javascript">
            $("#form").submit(function (event) {

                let coach = { idCoach: $("#idCoach").val() };

                let athlete = { idAthlete: "" };

                let traininglevel = { idTrainingLevel: "" };

                let exercisemode = { idExerciseMode: "" };

                let timeunit = { idTimeUnit: "" };

                let exercise = { idExercise: "" };

                let workout = { idWorkout: "0" };

                let workoutExercise = { workout: workout, exercise: "", series: "", value: "", exercisemode: "", timeunit: "", }

                if ($("#tableExercise tbody").length > 0) {
                    if ($("#tableAthlete tbody").length > 0 || $("#tableTraininglevel tbody").length > 0) {

                        let workoutExerciseJson = new Array();
                        let athleteJson = new Array();
                        let traininglevelJson = new Array();
                        
                        $("#tableExercise tbody tr").each(function (index) {

                            var idExercise = 0;
                            var idExerciseMode = 0;
                            var series = 0;
                            var value = 0;
                            var idTimeUnit = 0;

                            $(this).children("td").each(function (index2) {
                                switch (index2) {
                                    case 0:
                                        idExercise = $(this).text();
                                        break;
                                    case 2:
                                        idExerciseMode = $(this).children(':first-child').val();
                                        break;
                                    case 3:
                                        series = $(this).children(':first-child').val();
                                        break;
                                    case 4:
                                        value = $(this).children(':first-child').val();
                                        break;
                                    case 5:
                                        idTimeUnit = $(this).children(':first-child').val();
                                        break;
                                }
                            });

                            exercise.idExercise = idExercise;
                            exercisemode.idExerciseMode = idExerciseMode;

                            if (idExerciseMode == '1') {
                                timeunit.idTimeUnit = "0";
                            } else {
                                timeunit.idTimeUnit = idTimeUnit;
                            }

                            workoutExercise.exercise = exercise;
                            workoutExercise.exercisemode = exercisemode;
                            workoutExercise.series = series;
                            workoutExercise.value = value;
                            workoutExercise.timeunit = timeunit;

                            console.log("workoutExercise["+ index +"]: " + JSON.stringify(workoutExercise));
                            workoutExerciseJson.push(workoutExercise);
                            console.log(workoutExerciseJson);
                        });

                        $("#tableAthlete tbody tr").each(function (index) {
                            var idAthlete;
                            $(this).children("td").each(function (index2) {
                                switch (index2) {
                                    case 0:
                                        idAthlete = $(this).text();
                                        break;
                                }

                            });
                            athlete.idAthlete = idAthlete;
                            athleteJson.push(athlete);
                        });

                        for (let index = 0; index < $("#tableTraininglevel tbody tr").length; index++) {
                            for (let index2 = 0; index2 < $("#tableTraininglevel tbody tr").children("td").length; index2++) {
                                var idTrainingLevel;
                                switch (index2) {
                                    case 0:
                                        idTrainingLevel = $("#tableTraininglevel tbody tr td").children(index2).text();
                                        break;
                                }
                                traininglevel.idTrainingLevel = idTrainingLevel;
                                traininglevelJson.push(traininglevel);
                            }
                        }

                        /*$("#tableTraininglevel tbody tr").each(function (index) {
                            var idTrainingLevel;
                            $(this).children("td").each(function (index2) {
                                switch (index2) {
                                    case 0:
                                        idTrainingLevel = $(this).text();
                                        break;
                                }

                            });
                            traininglevel.idTrainingLevel = idTrainingLevel;
                            traininglevelJson.push(traininglevel);
                        });*/

                        $("#athleteJson").val(JSON.stringify(athleteJson));
                        $("#traininglevelJson").val(JSON.stringify(traininglevelJson));
                        $("#workoutExerciseJson").val(JSON.stringify(workoutExerciseJson));

                        console.log($("#workoutExerciseJson").val());
                        console.log($("#athleteJson").val());
                        console.log($("#traininglevelJson").val());
                    } else {
                        event.preventDefault();
                        Swal.fire([[#{ warning }]], [[#{ completetable }]], "warning");
                    }
                } else {
                    event.preventDefault();
                    Swal.fire([[#{ warning }]], [[#{ exercisetable }]], "warning");
                }
            });

            function add(nameSelect, nameTable) {
                let select = document.getElementById(nameSelect);
                let table = document.getElementById(nameTable);
                let selected = select.options[select.selectedIndex];

                let row = table.children[1].insertRow(0);
                let cell1 = row.insertCell(0);
                let cell2 = row.insertCell(1);

                cell1.innerHTML = selected.value;
                cell2.innerHTML = selected.textContent;

                selected.remove();

                if(selected.length == 0){
                    selected.children.length = "none";
                }
            }

            function addExercise() {
                let exercisemodeList = [[${ exercisemodeList }]];
                let timeunitList = [[${ timeunitList }]];
                let select = document.getElementById("selectExercise");
                let table = document.getElementById("tableExercise");
                let selected = select.options[select.selectedIndex];

                //Create elements on row
                let exercisemodeTable = document.createElement("select");
                let valueTable = document.createElement("input");
                let seriesTable = document.createElement("input");
                let timeunitTable = document.createElement("select");


                exercisemodeTable.className = "form-control";
                exercisemodeTable.onchange = function () {
                    if (exercisemodeTable.value == '2') {
                        timeunitTable.style.display = "block";
                    } else {
                        timeunitTable.style.display = "none";
                        timeunitTable.selectedIndex = "";
                        timeunitTable.value = "";
                    }
                };


                valueTable.className = "form-control";
                valueTable.type = "number";
                valueTable.min = "1";

                seriesTable.className = "form-control";
                seriesTable.type = "number";
                seriesTable.min = "1";

                timeunitTable.className = "form-control";

                //exercisemodeTable <select>
                for (var i = 0; i < exercisemodeList.length; i++) {
                    let option = document.createElement("option");
                    option.value = exercisemodeList[i]["idExerciseMode"];
                    option.text = exercisemodeList[i]["description"];
                    exercisemodeTable.appendChild(option);
                }

                //timeunitTable <select>
                for (var i = 0; i < timeunitList.length; i++) {
                    let option = document.createElement("option");
                    option.value = timeunitList[i]["idTimeUnit"];
                    option.text = timeunitList[i]["description"];
                    timeunitTable.appendChild(option);
                }

                //Create input series
                let tbody = table.children[1];
                let cantRows = 0;
                console.log(cantRows);
                if (tbody.length > 0) {
                    cantRows = tbody.length;
                }
                let row = table.children[1].insertRow(cantRows);

                let cell1 = row.insertCell(0);
                let cell2 = row.insertCell(1);
                let cell3 = row.insertCell(2);
                let cell4 = row.insertCell(3);
                let cell5 = row.insertCell(4);
                let cell6 = row.insertCell(5);

                cell1.innerHTML = selected.value;
                cell2.innerHTML = selected.textContent;
                cell3.appendChild(exercisemodeTable);
                cell4.appendChild(valueTable);
                cell5.appendChild(seriesTable);
                cell6.appendChild(timeunitTable);

                timeunitTable.style.display = "none";

                if(selected.children.length == 0){
                    selected.display = "none";
                }
            }

        </script>
    </body>
</html>