<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/template :: head"/>
    <body id="page-top">
        <div id="wrapper">
            <!-- Sidebar -->
            <ul th:replace="layout/template :: sidebar"/>
            <!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!-- Topbar -->
                    <nav th:replace="layout/template :: topbar"/>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <!-- Page Heading -->
                        <div class="d-flex mb-4">
                            <h1 class="h3 text-gray-800" th:text="#{traininglevel}"></h1>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 th:text="#{update}"></h5>
                                    </div>
                                    <div class="card-body table-responsive">
                                        <form th:action="@{/traininglevel/edit}" method="POST" th:object="${traininglevel}" class="needs-validation" novalidate>
                                            <input type="hidden" name="idTrainingLevel" th:field="*{idTrainingLevel}" th:value="*{idTrainingLevel}">
                                            <input type="hidden" name="idCompany" th:field="*{company.idCompany}" th:value="*{company.idCompany}">
                                            <div class='row'>
                                                <div class='col'>
                                                    <div class="form-group">
                                                        <label for="idTrainingLevel" th:text="#{key}"></label>
                                                        <input type="number" class="form-control" th:field="*{idTrainingLevel}" th:value="*{idTrainingLevel}" required disabled>
                                                            <div class="valid-feedback" th:text="#{valid}"></div>
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('idTrainingLevel')}" th:errors="*{idTrainingLevel}" th:text="#{invalid}"></div>
                                                    </div>
                                                </div>
                                                <div class='col'>
                                                    <div class="form-group">
                                                        <label for="description" th:text="#{description}"></label>
                                                        <input type="text" class="form-control" id="description" name="description" th:field="*{description}" th:value="*{description}" required>
                                                            <div class="valid-feedback" th:text="#{valid}"></div>
                                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:text="#{invalid}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary" th:text="#{send}"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </div>
            </div>
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a th:replace="layout/template :: scroll-top"/>
        <div th:replace="layout/template :: scripts"/>
    </body>
</html>
